*{
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
}

.btn{
    border-radius: 15px;
}

.btn-success{
    background-color: #00870E !important;
    border-color: #00870E !important;
}

.btn-danger{
   background-color: #F06500 !important;
   border-color: #F06500 !important; 
}

.card{
    border-radius: 15px;
    box-shadow: 19px 41px 53px -62px rgba(0,0,0,0.75);
    -webkit-box-shadow: 19px 41px 53px -62px rgba(0,0,0,0.75);
    -moz-box-shadow: 19px 41px 53px -62px rgba(0,0,0,0.75);
}